allure-pytest==2.13.2
allure-python-commons==2.13.2
chromedriver==2.24.1
fake==0.8
Faker==14.1.0
py==1.11.0
pycparser==2.21
pytest==7.3.1
pytest-base-url==2.0.0
pytest-rerunfailures==10.2
pytest-xdist==3.2.1
python-dateutil==2.8.2
python-dotenv==0.21.0
python-slugify==7.0.0
requests==2.31.0
selenium==4.6.1
webdriver-manager==3.8.5

